theme[main_bg]="${BASE}"
theme[main_fg]="${TEXT}"
theme[title]="${LAVENDER}"
theme[hi_fg]="${ACCENT_ALT}"
theme[selected_bg]="${ACCENT_CONTAINER}"
theme[selected_fg]="${TEXT}"
theme[inactive_fg]="${TEXT_MUTED}"
theme[proc_misc]="${ACCENT}"
theme[cpu_box]="${SURFACE_ALT}"
theme[mem_box]="${SURFACE_ALT}"
theme[net_box]="${SURFACE_ALT}"
theme[proc_box]="${SURFACE_ALT}"
theme[div_line]="${SURFACE_ALT}"
