background            ${BASE}
foreground            ${TEXT}
cursor                ${TEXT}
cursor_text_color     ${BASE}
selection_foreground  ${TEXT_MUTED}
selection_background  ${SURFACE_ALT}
active_border_color   ${ACCENT}
inactive_border_color ${SURFACE_ALT}
url_color             ${LAVENDER}
active_tab_foreground ${BASE}
active_tab_background ${ACCENT}
inactive_tab_foreground ${TEXT_MUTED}
inactive_tab_background ${SURFACE_ALT}
cursor_trail_color    ${LAVENDER}

color0  ${BASE}
color1  #ff6b6b
color2  #a8e6cf
color3  ${ACCENT_ALT}
color4  ${LAVENDER}
color5  ${ACCENT}
color6  ${LAVENDER}
color7  ${TEXT}
color8  ${SURFACE_ALT}
color9  #ff8e8e
color10 #c3f0d8
color11 ${ACCENT_ALT}
color12 ${LAVENDER_LIGHT}
color13 ${LAVENDER}
color14 ${TEXT_MUTED}
color15 ${TEXT}
